<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue JS - Times </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        ul li{
           list-style: none;
        }
        .escudo{
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <h3>Campeonato Brasileiro - Séria A (2018)</h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" @click="createNewGame">Novo Jogo</button>
            </div>        
        </div>

        <div class="row mb-4 mt-4">
            <div class="col-md-12" v-if="view != 'table'">
                <form action="" class="row">
                    <div class="col-md-4">
                        <img :src="newGame.home.time ? newGame.home.time.escudo : ''" alt="">
                        <label>{{newGame.home.time ? newGame.home.time.nome : ''}}</label>
                        <input type="text" class="form-control mt-2" v-model="newGame.home.gols">
                    </div>
        
                    <div class="col-md-4">
                        <img :src="newGame.visitor.time ? newGame.visitor.time.escudo :  ''" alt="">
                        <label>{{newGame.visitor.time ? newGame.visitor.time.nome :  ''}}</label>
                        <input type="text" class="form-control mt-2 col-md-4" v-model="newGame.visitor.gols">
                    </div>
                    
                    <div class="col-md-4">
                        <br>
                        <button type="button" class="btn btn-primary" @click="endOfTheGame">Fim de jogo</button>    
                    </div>
                </form>
            
            </div>
            
            <div class="col-md-12" v-else>
                <input type="text" class="form-control" v-model="search">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th v-for="(item, indice) in order.column">
                                <a href="#" @click.prevent="orderTimes(indice)">
                                    {{ item | ucwords }}
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="time in ordinationTimes">
                            <td><img :src="time.escudo" class="mr-1 escudo" alt="">{{ time.nome | ucwords }}</td>
                            <td>{{ time.pontos }}</td>
                            <td>{{ time.gm }}</td>
                            <td>{{ time.gs }}</td>
                            <td>{{ time.saldo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Times Classificados para Libertadores</h3>
                <ul>
                    <li v-for="time in timesLibertadores" class="mb-2">
                        <img :src="time.escudo" class="mr-1 escudo" alt="">
                        {{ time.nome | ucwords }}
                    </li>
                </ul>
                <hr>
            </div>
            <div class="col-md-6">        
                <h3>Times Rebaixados</h3>
                <ul>
                    <li v-for="time in timesRebaixados" class="mb-2">
                        <img :src="time.escudo" class="mr-1 escudo" alt="">
                        {{ time.nome | ucwords }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script>
        class Time{ //ES6
            constructor(nome, escudo){
                this.nome = nome;
                this.escudo = escudo;

                this.pontos = 0;
                this.gm = 0; //Gols Marcados
                this.gs = 0; //Gols Sofridos
                this.saldo = 0;
            }

            endOfTheGame(visitorTime, gm, gs){
                if(this.itIsATie(gm, gs)){
                    this.aTie(gm, gs)
                    visitorTime.aTie(gm,gs)
                    return

                }else if(this.itIsVictory(gm, gs)){
                    this.victory(gm, gs);
                    visitorTime.defeat(gs, gm);

                }else{
                    this.defeat(gm, gs);
                    visitorTime.victory(gs, gm);
                }
            }

            itIsATie(gm, gs){
                return gm === gs
            }

            itIsVictory(gm, gs){
                return gm > gs
            }

            aTie(gm, gs){
                this.updateInformation(1, gm, gs)
            }

            victory(gm, gs){
                this.updateInformation(3, gm, gs)
            }

            defeat(gm, gs){
                this.updateInformation(0, gm, gs)
            }

            updateInformation(pontos, gm, gs){
                this.pontos+= pontos;
                this.gm+=gm;
                this.gs+=gs;
                this.saldo += this.gm - this.gs;
            }

        }

        new Vue({
            el: "#app", 
            data:{
                gols:'3',
                order: {
                    column: ['pontos', 'gm', 'gs', 'saldo'],
                    orientation:['desc','desc', 'asc','desc']
                },
                search: '',
                times: [
                    new Time('palmeiras', 'assets/palmeiras_60x60.png'),
                    new Time('Internacional', 'assets/internacional_60x60.png'),
                    new Time('flamengo', 'assets/flamengo_60x60.png'),
                    new Time('Atlético-MG', 'assets/atletico_mg_60x60.png'),
                    new Time('Santos', 'assets/santos_60x60.png'),
                    new Time('Botafogo', 'assets/botafogo_60x60.png'),
                    new Time('Atlético-PR', 'assets/atletico-pr_60x60.png'),
                    new Time('Corinthians', 'assets/corinthians_60x60.png'),
                    new Time('Grêmio', 'assets/gremio_60x60.png'),
                    new Time('Fluminense', 'assets/fluminense_60x60.png'),
                    new Time('Bahia', 'assets/bahia_60x60.png'),
                    new Time('Chapecoense', 'assets/chapecoense_60x60.png'),
                    new Time('São Paulo', 'assets/sao_paulo_60x60.png'),
                    new Time('Cruzeiro', 'assets/cruzeiro_60x60.png'),
                    new Time('Sport', 'assets/sport_60x60.png'),
                    new Time('Ceará', 'assets/ceara_60x60.png'),
                    new Time('Vitória', 'assets/vitoria_60x60.png'),
                    new Time('Vasco', 'assets/vasco_60x60.png'),
                    new Time('América-MG', 'assets/america_mg_60x60.png'),
                    new Time('Paraná', 'assets/parana_60x60.png'),
                ],
                newGame:{
                    home:{
                        time:null,
                        gols:0
                    },
                    visitor:{
                        time:null,
                        gols:0
                    }
                },
                view: 'table'
            },
            computed:{
                timesLibertadores(){
                    return this.times.slice(0,6)
                },
                timesRebaixados(){
                    return this.times.slice(16,20)
                },
                ordinationTimes(){
                    var times = _.orderBy(this.times, this.order.column, this.order.orientation)
                    var self = this;
                    return _.filter(times, function(time){
                        var searchInternal = self.search.toLowerCase();
                        return time.nome.toLowerCase().indexOf(searchInternal) >= 0;
                    })
                }
            },
            methods: {
                showAlert(){
                    alert('fim de jogo')
                },
                pegarValor(){
                    console.log('digitei algo')
                },
                createNewGame(){
                    var indexHome = Math.floor(Math.random()*20), 
                        indexVisitor = Math.floor(Math.random()*20)
                    
                    this.newGame.home.time = this.times[indexHome];
                    this.newGame.home.gols = 0;
                    this.newGame.visitor.time = this.times[indexVisitor];
                    this.newGame.visitor.gols = 0;

                    this.view = 'newGame'
                },
                endOfTheGame(){
                    var gm = parseInt(this.newGame.home.gols)
                    var gs = parseInt(this.newGame.visitor.gols)
                    var opposingTeam = this.newGame.visitor.time;
                    var homeTeam = this.newGame.home.time;

                    homeTeam.endOfTheGame(opposingTeam, gm, gs);
                    this.view = 'table'
                },
                orderTimes(indice){
                    // this.order.orientation = this.order.orientation[indice] = 'desc' ? 'asc' : 'desc'
                    this.$set(this.order.orientation, indice, this.order.orientation[indice] == 'desc' ? 'asc' : 'desc')
                }
            },
            filters:{
                balance(time){
                    return time.gm - time.gs
                },
                ucwords(value){
                    return value.charAt(0).toUpperCase() + value.slice(1)
                }
            }
        })
    </script>
</body>
</html>

<!-- Data binding: ligação entre a propriedade do data do Vue ao HTML -->