<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instância Vue</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="title">
        <p>{{title}}</p>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app", 
            data:{
                title: ''
            }
        })
    </script>
</body>
</html>